/* Links */
.link-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .link-content {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #333;
    text-decoration: none;
  }
  
  .link-content svg {
    font-size: 1.2rem;
    color: #007bff;
  }
  
  .link-content span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .link-item:hover {
    background-color: #f0f4f8;
  }
  
  /* Logout */
  .logout-section {
    margin-top: 80px;
    padding-top: 20px;
  }
  
  .logout-section li {
    color: #e74c3c;
    font-weight: bold;
    text-align: center;
  }
  
  .logout-section li:hover {
    background-color: #fceaea;
  }
  