.sheet-trigger {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50px;
  right: 80px;
}

.sheet-trigger:hover {
  background-color: #0056b3;
}

.sheet-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sheet-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.sheet-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.profile-avatar {
  margin-bottom: 20px;
}
.profile-settings ul {
  list-style: none;
  padding: 0;
}

.profile-settings li {
  padding: 16px 10px;
  margin-bottom: 25px; /* Increase margin-bottom for more space between buttons */
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.profile-settings li:hover {
  background-color: #f0f4f8;
}

.logout-section {
  margin-top: 100px; /* Add space between other items and the logout button */
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.logout-section li {
  color: #e74c3c;
  font-weight: bold;
  text-align: center;
}

.logout-section li:hover {
  background-color: #fceaea;
}
