/* Calendar */
.calendar-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .calendar-trigger {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .calendar-trigger:hover {
    background-color: #0056b3;
  }
  