/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  /* Calendar Section */
  .calendar-section {
    display: flex;
    justify-content: center;
  }
  
  /* Table Section */
  .table-section {
    margin-top: 2rem;
  }
  