.profile-info {
  display: flex;
  align-items: center;
  gap: 16px; /* Space between avatar and text */
  margin-bottom: 20px;
}

.profile-avatar {
  margin-bottom: 20px;
}

.profile-settings ul {
  list-style: none;
  padding: 0;
}

.profile-settings li {
  padding: 16px 10px;
  margin-top: 65px;
  margin-bottom: -50px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Profile Info Text */
.profile-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Username Style */
.username {
  font-size: 1.25rem; /* Larger text for prominence */
  font-weight: 700; /* Bold text */
  color: #333; /* Dark text color */
}

/* User Role Style */
.user-role {
  font-size: 1rem; /* Slightly smaller text */
  color: #6b7280; /* Gray text color */
}

/* Additional Styles for Paysera Logo and Name */
.header-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.paysera-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.paysera-name {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Arial', sans-serif; /* You can choose a more formal font if preferred */
  color: #333;
}
